* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

.screen {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.dvd {
  position: absolute;
  width: 120px;  
  height: auto;
  animation: bounceX 2s linear infinite alternate,
             bounceY 2.5s linear infinite alternate;
}

@keyframes bounceX {
  from { left: 0; }
  to   { left: calc(100vw - 120px); }
}

@keyframes bounceY {
  from { top: 0; }
  to   { top: calc(100vh - 120px); }
}
  
.dvd { width: 160px; }
